.header__logo{
    width: 142px;
    height: 33px;
    margin-top: 45px;
    margin-bottom: 36px;
    margin-left: 50px;
}

@media (max-width: 320px){
    .header__logo{
        margin-top: 28px;
        margin-left: 27px;
        width: 103px;
        height: 24px;
    }
}
