.profile__name{
    margin-top: 22px;
    margin-bottom: -11px;
    margin-left: -21px;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    font-style: normal;
    color: #FFFFFF;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 294px;
}

@media screen and (max-width: 320px) {
    .profile__name{
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        max-width: 189px;
        margin: 0;
        margin-left: 25px;
    }
}