.singup__question{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    margin-top: 15px;
}
.singup__question:hover{
    cursor: pointer;
    opacity: 0.6;
}