.preview__img{
    object-fit: cover;
    width: 75vw;
    height: 75vh;
}
@media (max-width:567px){
    .preview__img{
        right: 43px;
        max-width: 240px;
        max-height: 299px;
    }
}