.profile__info{
    display: flex;
    flex-direction: column;
    margin-right: 192px;
    margin-top: 35px;
}
@media screen and (max-width: 1041px) {
    .profile__info {
        max-width: 100%;
        margin: 0;
    }
}
@media screen and (max-width: 400px) {
    .profile__info {
        max-width: 280px;
        margin-left: 10px;
        padding-left: 10px;
    }
}