.popup__close{
    width: 35px;
    height: 45px;
    color: #FFFFFF;
    border: none;
    background:transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;
    position: absolute;
    top:-40px;
    right: -32px;
    background-image: url('../../../images/close-icon.svg');
    background-repeat: no-repeat;
    background-size: cover;
    outline-style: none;
}
.popup__close:hover{
    opacity: 0.6;
}
@media (max-width:553px){
    .popup__close{
        width: 26px;
        height: 26px;
        top: -45px;
        right: -5px;
    }
}

@media (max-width:320px){
    .popup__close{
        width: 36px;
        top: -50px;
        right: 0px;
    }
}

