.login__registration{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 51px;
    margin-right: 10px;

}
.login__registration:hover{
    opacity:0.6;
    cursor: pointer;
}
@media (max-width:350px) {
    .login__registration{
        font-size: 14px;
        line-height: 17px;
    }
}