.elements{
    font-family: 'Inter', Arial, sans-serif;
    margin: 47px auto 0;
    max-width: 880px;
}
@media ( max-width:320px){
    .elements{
        margin-left: 19px;
        margin-right: 19px;
    }
}