.profile__header-info{
    display: flex;
    align-items: center;
    
}

@media screen and (max-width: 624px) {
    .profile__header-info {
        font-style: normal;
        font-weight: 500;
        font-size: 27px;
        line-height: 33px;
    }
}

@media screen and (max-width: 320px) {
    .profile__header-info {
        margin-top: 22px;
    }
}
