.infotooltip__popup{
    width:430px;
    height: 330px;
    background-color: #FFFFFF;
    color:#FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (max-width:480px) {
    .infotooltip__popup{
        width:280px;
        height: 308px;
    }
}