.element__like{
    background-image: url('../../../images/like-image.svg');
    height: 19px;
    width: 22px;
    border: none;
    background-repeat: no-repeat;
    align-self:center;
    outline-style: none;
    background-color:white;
}
.element__like:hover{
    opacity: 0.5;
    cursor: pointer;
}